<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/department']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Department' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/designation']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Designation' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/doctor']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Doctor' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/patient']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Patient' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/users']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Users' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/feedback']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Feedback' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/diagnosis-type']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'diagonstic Type' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/diagnosis-test']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Diagnosis Test' }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/appointment']">
            <mat-icon class="sidenav-icon">supervisor_account</mat-icon> {{ 'Appointment' }}
        </a>
    </mat-nav-list>
</div>